test/log.txt
test/__pycache__/build.cpython-36.pyc
test/__pycache__/run.cpython-36.pyc
test/__pycache__/score.cpython-36.pyc
test/output/basic/00_main.json
test/output/basic/01_var_defn2.json
test/output/basic/02_var_defn3.json
test/output/basic/03_arr_defn2.json
test/output/basic/04_arr_defn3.json
test/output/basic/06_const_var_defn2.json
test/output/basic/07_const_var_defn3.json
test/output/basic/08_const_array_defn.json
test/output/basic/09_func_defn.json
test/output/basic/10_var_defn_func.json
test/output/basic/11_add2.json
test/output/basic/12_addc.json
test/output/basic/13_sub2.json
test/output/basic/14_subc.json
test/output/basic/15_mul.json
test/output/basic/16_mulc.json
test/output/basic/17_div.json
test/output/basic/18_divc.json
test/output/basic/20_rem.json
test/output/basic/21_if_test2.json
test/output/basic/22_if_test3.json
test/output/basic/23_if_test4.json
test/output/basic/25_while_if.json
test/output/basic/26_while_test1.json
test/output/basic/27_while_test2.json
test/output/basic/29_break.json
test/output/basic/30_continue.json
test/output/basic/31_while_if_test1.json
test/output/basic/32_while_if_test2.json
test/output/basic/33_while_if_test3.json
test/output/basic/35_op_priority1.json
test/output/basic/36_op_priority2.json
test/output/basic/37_op_priority3.json
test/output/basic/40_unary_op.json
test/output/basic/41_unary_op2.json
test/output/basic/42_empty_stmt.json
test/output/basic/45_comment1.json
test/output/function/28_while_test3.json
test/output/function/34_arr_expr_len.json
test/output/function/38_op_priority4.json
test/output/function/39_op_priority5.json
test/output/function/43_logi_assign.json
test/output/function/47_hex_oct_add.json
test/output/function/48_assign_complex_expr.json
test/output/function/49_if_complex_expr.json
test/output/function/50_short_circuit.json
test/output/function/51_short_circuit3.json
test/output/function/52_scope.json
test/output/function/55_sort_test1.json
test/output/function/62_percolation.json
test/output/function/64_calculator.json
test/output/function/66_exgcd.json
test/output/function/70_dijkstra.json
test/output/function/73_int_io.json
test/output/function/78_side_effect.json
test/output/function/79_var_name.json
test/output/function/89_many_globals.json
test/output/function/95_float.json
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.10.2/CMakeCCompiler.cmake
build/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.10.2/CMakeSystem.cmake
build/CMakeFiles/3.10.2/CompilerIdC/a.out
build/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.10.2/CompilerIdCXX/a.out
build/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Backend.dir/build.make
build/CMakeFiles/Backend.dir/cmake_clean_target.cmake
build/CMakeFiles/Backend.dir/cmake_clean.cmake
build/CMakeFiles/Backend.dir/CXX.includecache
build/CMakeFiles/Backend.dir/depend.internal
build/CMakeFiles/Backend.dir/depend.make
build/CMakeFiles/Backend.dir/DependInfo.cmake
build/CMakeFiles/Backend.dir/flags.make
build/CMakeFiles/Backend.dir/link.txt
build/CMakeFiles/Backend.dir/progress.make
build/CMakeFiles/Backend.dir/src/backend/generator.cpp.o
build/CMakeFiles/Front.dir/build.make
build/CMakeFiles/Front.dir/cmake_clean_target.cmake
build/CMakeFiles/Front.dir/cmake_clean.cmake
build/CMakeFiles/Front.dir/CXX.includecache
build/CMakeFiles/Front.dir/depend.internal
build/CMakeFiles/Front.dir/depend.make
build/CMakeFiles/Front.dir/DependInfo.cmake
build/CMakeFiles/Front.dir/flags.make
build/CMakeFiles/Front.dir/link.txt
build/CMakeFiles/Front.dir/progress.make
build/CMakeFiles/Front.dir/src/front/abstract_syntax_tree.cpp.o
build/CMakeFiles/Front.dir/src/front/lexical.cpp.o
build/CMakeFiles/Front.dir/src/front/semantic.cpp.o
build/CMakeFiles/Front.dir/src/front/syntax.cpp.o
build/CMakeFiles/Front.dir/src/front/token.cpp.o
build/CMakeFiles/IR.dir/build.make
build/CMakeFiles/IR.dir/cmake_clean_target.cmake
build/CMakeFiles/IR.dir/cmake_clean.cmake
build/CMakeFiles/IR.dir/CXX.includecache
build/CMakeFiles/IR.dir/depend.internal
build/CMakeFiles/IR.dir/depend.make
build/CMakeFiles/IR.dir/DependInfo.cmake
build/CMakeFiles/IR.dir/flags.make
build/CMakeFiles/IR.dir/link.txt
build/CMakeFiles/IR.dir/progress.make
build/CMakeFiles/IR.dir/src/ir/ir_function.cpp.o
build/CMakeFiles/IR.dir/src/ir/ir_instruction.cpp.o
build/CMakeFiles/IR.dir/src/ir/ir_operand.cpp.o
build/CMakeFiles/IR.dir/src/ir/ir_operator.cpp.o
build/CMakeFiles/IR.dir/src/ir/ir_program.cpp.o
build/CMakeFiles/IR.dir/src/ir/type.cpp.o
build/CMakeFiles/Tools.dir/build.make
build/CMakeFiles/Tools.dir/cmake_clean_target.cmake
build/CMakeFiles/Tools.dir/cmake_clean.cmake
build/CMakeFiles/Tools.dir/CXX.includecache
build/CMakeFiles/Tools.dir/depend.internal
build/CMakeFiles/Tools.dir/depend.make
build/CMakeFiles/Tools.dir/DependInfo.cmake
build/CMakeFiles/Tools.dir/flags.make
build/CMakeFiles/Tools.dir/link.txt
build/CMakeFiles/Tools.dir/progress.make
build/CMakeFiles/Tools.dir/src/tools/ir_executor.cpp.o
build/CMakeFiles/compiler.dir/build.make
build/CMakeFiles/compiler.dir/cmake_clean.cmake
build/CMakeFiles/compiler.dir/CXX.includecache
build/CMakeFiles/compiler.dir/depend.internal
build/CMakeFiles/compiler.dir/depend.make
build/CMakeFiles/compiler.dir/DependInfo.cmake
build/CMakeFiles/compiler.dir/flags.make
build/CMakeFiles/compiler.dir/link.txt
build/CMakeFiles/compiler.dir/main.cpp.o
build/CMakeFiles/compiler.dir/progress.make
build/CMakeFiles/jsoncpp.dir/build.make
build/CMakeFiles/jsoncpp.dir/cmake_clean_target.cmake
build/CMakeFiles/jsoncpp.dir/cmake_clean.cmake
build/CMakeFiles/jsoncpp.dir/CXX.includecache
build/CMakeFiles/jsoncpp.dir/depend.internal
build/CMakeFiles/jsoncpp.dir/depend.make
build/CMakeFiles/jsoncpp.dir/DependInfo.cmake
build/CMakeFiles/jsoncpp.dir/flags.make
build/CMakeFiles/jsoncpp.dir/link.txt
build/CMakeFiles/jsoncpp.dir/progress.make
build/CMakeFiles/jsoncpp.dir/src/third_party/jsoncpp/jsoncpp.cpp.o
bin/compiler
bin/libBackend.a
bin/libFront.a
bin/libIR.a
bin/libjsoncpp.a
bin/libTools.a
test/test.py
test/output/basic/00_main.out
test/output/basic/01_var_defn2.out
test/output/basic/02_var_defn3.out
test/output/basic/03_arr_defn2.out
test/output/basic/04_arr_defn3.out
test/output/basic/06_const_var_defn2.out
test/output/basic/07_const_var_defn3.out
test/output/basic/08_const_array_defn.out
test/output/basic/09_func_defn.out
test/output/basic/10_var_defn_func.out
test/output/basic/11_add2.out
test/output/basic/12_addc.out
test/output/basic/13_sub2.out
test/output/basic/14_subc.out
test/output/basic/15_mul.out
test/output/basic/16_mulc.out
test/output/basic/17_div.out
test/output/basic/18_divc.out
test/output/basic/20_rem.out
test/output/basic/21_if_test2.out
test/output/basic/22_if_test3.out
test/output/basic/23_if_test4.out
test/output/basic/25_while_if.out
test/output/basic/26_while_test1.out
test/output/basic/27_while_test2.out
test/output/basic/29_break.out
test/output/basic/30_continue.out
test/output/basic/31_while_if_test1.out
test/output/basic/32_while_if_test2.out
test/output/basic/33_while_if_test3.out
test/output/basic/35_op_priority1.out
test/output/basic/36_op_priority2.out
test/output/basic/37_op_priority3.out
test/output/basic/40_unary_op.out
test/output/basic/41_unary_op2.out
test/output/basic/42_empty_stmt.out
test/output/basic/45_comment1.out
test/output/function/28_while_test3.out
test/output/function/34_arr_expr_len.out
test/output/function/38_op_priority4.out
test/output/function/39_op_priority5.out
test/output/function/43_logi_assign.out
test/output/function/47_hex_oct_add.out
test/output/function/48_assign_complex_expr.out
test/output/function/49_if_complex_expr.out
test/output/function/50_short_circuit.out
test/output/function/51_short_circuit3.out
test/output/function/52_scope.out
test/output/function/55_sort_test1.out
test/output/function/62_percolation.out
test/output/function/64_calculator.out
test/output/function/66_exgcd.out
test/output/function/70_dijkstra.out
test/output/function/73_int_io.out
test/output/function/78_side_effect.out
test/output/function/79_var_name.out
test/output/function/89_many_globals.out
test/output/function/95_float.out
myTest/
myTest/test.ir
